.bg-container {
  background-image: linear-gradient(
    to right,
    rgb(233, 228, 228),
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white
  );
  width: 80%;
}
.container {
  display: flex;
}
.questions {
  width: 40vw;
}
.right-slide-bar-container {
  border-left: 2px solid #454746;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
